
h1 {
    color: aliceblue;
}

a {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: aliceblue;
  transition: all 0.2s ease-in-out;
}

img {
    width: 15px;
    height: 15px;
    padding: 5px;
    margin: 9px 0;

}

a:hover {
    transform: scale(1.1);
    color: lightblue;
}

nav {
    display:flex;
}

header {
  background-color: darkslategrey;
  padding: 10px;
}
